{{>titulo }}
<div class="card">
    <a onclick="
    let win=window.open('/cliente/GenerarPrint', 'popup', 'width=600,height=600');
    win.print();
    win.window.onafterprint = function(){
        win.window.close();
    }
    return false;"  target="_blank" class="waves-effect waves-light btn">
        <i class="material-icons left">print</i>
        Imprimir
    </a>
    <a href="/cliente/GenerarPdf" class="waves-effect waves-light btn">
        <i class="material-icons left">attach_file</i>
        Generar PDF
    </a>
    <a href="/cliente/qr/2" class="btn">QR</a>
</div>
<div class="container">
    <form method="get" action="">
    <input type="text" name="buscar" placeholder="Buscar..." value="{{buscar}}" />
    <button type="submit" class="btn">Buscar</button>
        {{#if buscar}}
        <a href="/cliente">
            <button type="button" class="btn">Limpiar</button>
        </a>
        {{/if}}
    </form>

    <table>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>codigo Catastral</th>
            <th>Pago Impuestos</th>
        </tr>
        {{#each clientes.result}}
        <tr>
            <td>{{this.nombres}}</td>
            <td>{{this.apellidos}}</td>
            <td>{{this.codVivienda}} </td>
            <td>{{this.pagoImpuesto}} </td>
        </tr>
        {{/each}}
    </table>
    {{#if paginacion}}
    {{>paginar}}
    {{/if}}
</div>